<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="w3-main" >
        <!--form 태그-->
        <form class="board" th:action="@{/api/board/create}" th:object="${boardDTO}" method="post" enctype="multipart/form-data">
            <div th:style="${'height: 100%; width: 100%; object-fit: cover'}">
                <div class="container-content">
                    <label for="content">로그인 ID</label> <br>
                    <input type="text" id="loginId" th:field="*{loginId}" class="form-control">
                    <label for="content">내용</label> <br>
                    <input type="text" id="content" th:field="*{content}" class="form-control">
                </div>
                <button class="btn-save" type="submit">저장 하기</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>